* {
    font-family: 'Major Mono Display', monospace;
    background-color: aliceblue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
}

.nav-straight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 10px 20px;
}

li {
    display: inline;
    padding: 10px 20px;
}

.navglow:hover {
    box-shadow: inset 1px 0px 0px black, 0px 0px 0px paleturquoise;
}

section>h1 {  
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

section a>h3:hover{
    text-decoration: underline;
}

.aboutWidth {
    width: 50%;
}

.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.middle img {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    position: relative;
    left: -80px;
}

h3 {  
    display: flex;
    justify-content: center; 
}

.projectContainer {
    margin: 30px;
}

.primaryProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.secondaryProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.img-1:hover, .img-2:hover {
    filter: brightness(60%);
}

.img-1 {
    max-height: 350px;
    max-width: 700px;
    border-radius: 30px;
    margin: 0 0 30px 0;
}

.img-2 {
    max-height: 350px;
    max-width: 350px;
    border-radius: 30px;
    margin: 0 30px;
}

#contact {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.contactLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px ;
}

